<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" value="CLET Anthony (Tchapz)">
    <meta name="title" value="Site de Pandeüs e-sport">
    <meta name="keywords" value="Pandeüs, e-sport, compétition, line-up, tournois, showmatch, réseaux, club ">

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{% block style %}{% endblock style %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <title> {% block title %}{% endblock title %} </title>

</head>

<header>

    <div>
        <img class="logo_header" src="{{ asset('images/banniere_noir.png') }}" alt="logo">
    </div>

    <nav class="nav">
        <div class="block-btn">
            <button class="btn-inscription">Inscription</button>
            <button class="btn-login">Login</button>
            <button class="btn-logout">Logout <img class="logout" src="{{ asset('images/logout.png') }}" alt="logout"></button>
        </div>


        <ul class="block-link">
            <li><a href="{{ path('home_page') }}">Acceuil</a></li>
            <li><a href="{{ path('events_page') }}">Events</a></li>
            <li><a href="{{ path('line_up_page') }}">Line-up</a></li>
            <li><a href="{{ path('help_page') }}">Aide</a></li>
        </ul>
    </nav>

</header>

<body>

    {% block main %}

    {% endblock main %}

</body>

<footer>

    {% block footer %}

    {% endblock footer %}

</footer>

</html>
